.FlexRow {
    display: flex;
    flex-direction: row;
}

.FlexColumn {
    display: flex;
    flex-direction: column;

}

@mixin Flex($direction: row, $justify-content: flex-start, $align-items: flex-start, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}
