
/*  RESET   */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
}


/*  GLOBALS */

main * {
    animation-name: CargarContenido;
    animation-duration: 1.5s;
}

html {
    font-size: 68.5%;
}


a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

li {
    list-style-type: none;
}
