$Font-size:(
    Titulo-Xl: 3em,
    Titulo-Lg: 2.5em,
    Titulo-Md: 2.0em,
    Titulo-Sm: 1.5em,
    Titulo-Xs: 1.0em,
    SubTitulo-Xl: 2.0em,
    SubTitulo-Lg: 1.5em,
    SubTitulo-Md: 1.2em,
    SubTitulo-Sm: 0.9em,

    Parrafo-Xl: 1.5em,
    Parrafo-Lg: 1.0em,
    Parrafo-Md: 0.8em,
    Parrafo-Sm: 0.6em
);


