<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="..\css\index.css" type="text/css">
</head>

<body class="FlexColumn BodyContacto">
    <header>
        <nav class="FlexRow">
            <img src="..\image\Logo.jpg" alt="Logo">
            <ul class="FlexRow MenuPrincipal">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="QuienesSomos.html" >¿Quienes somos?</a></li>
                <li ><a href="Cursos.html">Cursos</a></li>
                <li ><a href="Contacto.html">Contacto</a></li>
                <li ><a href="ProgramasServicios.html">Programas&Servicios</a></li>
            </ul>

        </nav>
    </header>

    <main class="MainContacto">
        <section>
            <article class="contacto">
                <h1>¿Tienes alguna duda? ¡Contactanos!</h1>
                <form class="GridForm" >
                    
                    <label  for="Nombre">Nombre:</label>
                    <input  type="text">
                    
                    <label  for="Apellido">Apellido:</label>
                    <input  type="text">

                    <label  for="email">Email:</label>
                    <input type="email">
                    
                    <label  for="telefono">Telefono:</label>
                    <input  type="tel">

                    <textarea>¿Cual es tu duda?</textarea>
                    <input id="FormBoton"  type="button" value="Enviar">
            
                </form>
            </article>
        </section>
    </main>

    <footer >
        <ul class="FlexRow">
            <li><a href="https://www.instagram.com/"><picture><img src="..\image\InstagramIcon.png" alt="Instagram"></picture></a></li></li>
            <li><a href="https://twitter.com/"><picture><img src="..\image\TwitterIcon.png" alt="Twitter"></picture></a></li>
            <li><a href="https://mail.google.com/"><picture><img src="..\image\WhatsappIcon.png" alt="Whatsapp"></picture></a></li></li>
            <li><a href="https://es-la.facebook.com/"><picture><img src="..\image\FacebookIcon.png" alt="Facebook"></picture></a></li></li>
        </ul>
    </footer>

</body>

</html>