<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <link rel="stylesheet" href="..\css\index.css" type="text/css">
</head>

<body>
    
    <header>
        <nav class="FlexRow">
            <img src="..\image\Logo.jpg" alt="Logo">
            <ul class="FlexRow MenuPrincipal">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="QuienesSomos.html" >¿Quienes somos?</a></li>
                <li ><a href="Cursos.html">Cursos</a></li>
                <li ><a href="Contacto.html">Contacto</a></li>
                <li ><a href="ProgramasServicios.html">Programas&Servicios</a></li>
            </ul>

        </nav>
    </header>

    <main>
        <h2 id="h2cursos">Cursos</h2>
        <section class="cursos FlexColumn">
            <article class="FlexRow">
                
                <img src="..\Image\imagexgeneric_92742.png" alt="Curso1">
                <div>
                    <h3>Curso1</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis, magnam corporis? Accusamus, hic praesentium sunt cum amet ratione harum consequuntur.</p>
                </div>

            </article>

            <article class="FlexRow">

                <img src="..\Image\imagexgeneric_92742.png" alt="Curso1">
                <div>
                    <h3>Curso1</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis, magnam corporis? Accusamus, hic praesentium sunt cum amet ratione harum consequuntur.</p>
                </div>

            </article>

            <article class="FlexRow">

                <img src="..\Image\imagexgeneric_92742.png" alt="Curso1">
                <div>
                    <h3>Curso1</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis, magnam corporis? Accusamus, hic praesentium sunt cum amet ratione harum consequuntur.</p>
                </div>
                
            </article>

        </section>
    </main>

    <footer >
        <ul class="FlexRow">
            <li><a href="https://www.instagram.com/"><picture><img src="..\image\InstagramIcon.png" alt="Instagram"></picture></a></li></li>
            <li><a href="https://twitter.com/"><picture><img src="..\image\TwitterIcon.png" alt="Twitter"></picture></a></li>
            <li><a href="https://mail.google.com/"><picture><img src="..\image\WhatsappIcon.png" alt="Whatsapp"></picture></a></li></li>
            <li><a href="https://es-la.facebook.com/"><picture><img src="..\image\FacebookIcon.png" alt="Facebook"></picture></a></li></li>
        </ul>
    </footer>

</body>

</html>