<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="En RAPS también brindamos diferentes programas y servicios">
    <meta name="keywords" content="ONG, Salud, Capacitación, Salud mental, Adicciones, investigación en Salud Mental ">
    <title>RAPS | Programas y Servicios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="..\css\main.css" type="text/css">
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid Navegacion">

                <a class="navbar-brand" href="..\index.html"><img src="..\Image\Logo.ico" alt="Logo" class="Navegacion__Logo"></a>

                <button class="navbar-toggler Navegacion__Btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon Navegacion__Icon-Btn"></span>

                </button>
                <div class="collapse navbar-collapse Navegacion__Div justify-content-end" id="navbarNav">
                    <ul class="navbar-nav Navegacion__Div__Ul">
                        <li class="nav-item Navegacion__Div__Ul__Li">
                            <a class="Navegacion__Div__Ul__Li__Link" href="..\index.html">Inicio</a>
                        </li>
                        <li class="nav-item Navegacion__Div__Ul__Li">
                            <a class="Navegacion__Div__Ul__Li__Link" href="QuienesSomos.html">¿Quienes somos?</a>
                        </li>
                        <li class="nav-item Navegacion__Div__Ul__Li">
                            <a class="Navegacion__Div__Ul__Li__Link" href="Cursos.html">Cursos</a>
                        </li>
                        <li class="nav-item Navegacion__Div__Ul__Li">
                            <a class="Navegacion__Div__Ul__Li__Link" href="Contacto.html">Contacto</a>
                        </li>
                        <li class="nav-item Navegacion__Div__Ul__Li">
                            <a class="Navegacion__Div__Ul__Li__Link--active" href="ProgramasServicios.html">Programas&Servicios</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section class="ProgramasServicios">
            <h1 class="ProgramasServicios__H1">Nuestros Programas y Servicios</h1>

            <article class="ProgramasServicios__Article">
                <h2 class="ProgramasServicios__Article__H2">Servicio de Información</h2>
                <p  class="ProgramasServicios__Article__P">Brindamos información sobre los derechos de las personas con padecimientos de salud mental, con el objetivo de una integración social y comunitaria que implique mejoras en su calidad de vida</p>
            </article>
            <article class="ProgramasServicios__Article">
                <h2 class="ProgramasServicios__Article__H2">Programa de Admisión y Diagnóstico</h2>
                <p  class="ProgramasServicios__Article__P">Para nosotros es de vital importancia la realización de buenos diagnósticos que impliquen un tratamiento adecuado a las necesidades de nuestros usuarios. Para ello contamos con equipos técnicos interdisciplinarios que puedan acercar los tratamientos adecuados en función del diagnóstico en nuestros programa de admisión</p>
            </article>
            <article class="ProgramasServicios__Article">
                <h2 class="ProgramasServicios__Article__H2">Programa de Asistencia Interdisciplinaria</h2>
                <p  class="ProgramasServicios__Article__P">Brindamos un servicio de Atención Terapéutica Interdisciplinaria centrado en las necesidades de nuestros consultantes contando para ello con profesionales de primer nivel en atención por consultorios externos y de ser necesario con derivación personalizada a centros de día o internaciones en la amplia red con la que contactamos.</p>
            </article>
            <article class="ProgramasServicios__Article">
                <h2 class="ProgramasServicios__Article__H2">Programa de Continuidad de Cuidados</h2>
                <p  class="ProgramasServicios__Article__P">Sabemos que las necesidades de nuestros usuarios de programas, muchas veces requieren de continuos cuidados y acompañamientos terapéuticos que impliquen la posibilidad de una vida más plena; a partir de esta visión desarrollamos nuestro programa de continuos cuidados para nuestros pacientes y sus familias.</p>
            </article>
            <article class="ProgramasServicios__Article">
                <h2 class="ProgramasServicios__Article__H2">Programa de Prevención en Salud Mental</h2>
                <p  class="ProgramasServicios__Article__P">Consideramos que la prevención y la promoción de la salud mental constituyen un pilar fundamental en la calidad de vida de las personas. Nuestros equipos de prevención, brindan talleres preventivos en entidades educativas, escuelas y empresas con el fin de informar y promover la prevención inespecífica en las problemáticas de salud mental, consumos problemáticos, adicciones y violencias.</p>
            </article>


        </section>
    </main>

    <footer class="Footer">
        <ul class="Footer__ul">
            <li class="Footer__ul__li"><a href="https://www.instagram.com/" class="Footer__ul__li__a"><picture class="Footer__ul__li__a__picture"><img class="Footer__ul__li__a__picture__img" src="..\Image\InstagramIcon.png" alt="Instagram"></picture></a></li></li>
            <li class="Footer__ul__li"><a href="https://twitter.com/" class="Footer__ul__li__a"><picture class="Footer__ul__li__a__picture"><img class="Footer__ul__li__a__picture__img" src="..\Image\TwitterIcon.png" alt="Twitter"></picture></a></li>
            <li class="Footer__ul__li"><a href="https://mail.google.com/" class="Footer__ul__li__a"><picture class="Footer__ul__li__a__picture"><img class="Footer__ul__li__a__picture__img" src="..\Image\WhatsappIcon.png" alt="Whatsapp"></picture></a></li></li>
            <li class="Footer__ul__li"><a href="https://es-la.facebook.com/" class="Footer__ul__li__a"><picture class="Footer__ul__li__a__picture"><img class="Footer__ul__li__a__picture__img" src="..\Image\FacebookIcon.png" alt="Facebook"></picture></a></li></li>
        </ul>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>