<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programas y Servicios</title>
    <link rel="stylesheet" href="..\css\index.css" type="text/css">
</head>

<body>

    <header>
        <nav class="FlexRow">
            <img src="..\Image\Logo.jpg" alt="Logo">
            <ul class="FlexRow MenuPrincipal">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="QuienesSomos.html" >¿Quienes somos?</a></li>
                <li ><a href="Cursos.html">Cursos</a></li>
                <li ><a href="Contacto.html">Contacto</a></li>
                <li ><a href="ProgramasServicios.html">Programas&Servicios</a></li>
            </ul>

        </nav>
    </header>

    <main>
        <section class="programasServicios FlexColumn">
            <h1>Nuestros Programas y Servicios</h1>

            <article>
                <h2>Lorem, ipsum.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti quibusdam hic, rem placeat impedit quasi dolore? Totam modi quod tenetur?</p>
            </article>
            <article>
                <h2>Lorem, ipsum.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti quibusdam hic, rem placeat impedit quasi dolore? Totam modi quod tenetur?</p>
            </article>
            <article>
                <h2>Lorem, ipsum.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti quibusdam hic, rem placeat impedit quasi dolore? Totam modi quod tenetur?</p>
            </article>
            <article>
                <h2>Lorem, ipsum.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti quibusdam hic, rem placeat impedit quasi dolore? Totam modi quod tenetur?</p>
            </article>
            <article>
                <h2>Lorem, ipsum.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti quibusdam hic, rem placeat impedit quasi dolore? Totam modi quod tenetur?</p>
            </article>


        </section>
    </main>

    <footer >
        <ul class="FlexRow">
            <li><a href="https://www.instagram.com/"><picture><img src="..\Image\InstagramIcon.png" alt="Instagram"></picture></a></li></li>
            <li><a href="https://twitter.com/"><picture><img src="..\Image\TwitterIcon.png" alt="Twitter"></picture></a></li>
            <li><a href="https://mail.google.com/"><picture><img src="..\Image\WhatsappIcon.png" alt="Whatsapp"></picture></a></li></li>
            <li><a href="https://es-la.facebook.com/"><picture><img src="..\Image\FacebookIcon.png" alt="Facebook"></picture></a></li></li>
        </ul>
    </footer>

</body>

</html>
