<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Si te interesa saber más sobre nosotros, te invitamos a conocer nuestras redes sociales">
    <meta name="keywords" content="ONG, Salud, Capacitación, Salud mental, Adicciones, investigación en Salud Mental ">
    <title>RAPS | ¿Quienes Somos?</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="..\css\main.css" type="text/css">
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid Navegacion">

                <a class="navbar-brand" href="..\index.html"><img src="..\Image\Logo.ico" alt="Logo" class="Navegacion__Logo"></a>

                <button class="navbar-toggler Navegacion__Btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon Navegacion__Icon-Btn"></span>

                </button>
                <div class="collapse navbar-collapse Navegacion__Div justify-content-end" id="navbarNav">
                    <ul class="navbar-nav Navegacion__Div__Ul">
                        <li class="nav-item Navegacion__Div__Ul__Li">
                            <a class="Navegacion__Div__Ul__Li__Link" href="..\index.html">Inicio</a>
                        </li>
                        <li class="nav-item Navegacion__Div__Ul__Li">
                            <a class="Navegacion__Div__Ul__Li__Link--active" href="QuienesSomos.html">¿Quienes somos?</a>
                        </li>
                        <li class="nav-item Navegacion__Div__Ul__Li">
                            <a class="Navegacion__Div__Ul__Li__Link" href="Cursos.html">Cursos</a>
                        </li>
                        <li class="nav-item Navegacion__Div__Ul__Li">
                            <a class="Navegacion__Div__Ul__Li__Link" href="Contacto.html">Contacto</a>
                        </li>
                        <li class="nav-item Navegacion__Div__Ul__Li">
                            <a class="Navegacion__Div__Ul__Li__Link" href="ProgramasServicios.html">Programas&Servicios</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="MainNosotros">


        <section class="MainNosotros__Sobre-Nosotros">
            <article class="MainNosotros__Sobre-Nosotros__article">
                <h1 class="MainNosotros__Sobre-Nosotros__article__Titulo-Principal">Nosotros</h1>
                <p class="MainNosotros__Sobre-Nosotros__article__Parrafo">Somos una Organización Social sin fines de Lucro dedicada a la Asistencia, Capacitación Prevención e investigación en Salud Mental y Adicciones.<br> Contamos con diferentes programas de participación tendientes a mejorar la inclusión de las personas con padecimientos en su salud mental tendientes a mejorar su calidad de vida y su integración comunitaria.</p>
                <h2 class="MainNosotros__Sobre-Nosotros__article__Titulo-Secundario">Mision</h2>
                <p class="MainNosotros__Sobre-Nosotros__article__Parrafo">Llevamos adelante programas destinados a mejorar la accesibilidad de las personas, tanto en la asistencia como en la formación, para generar igualdad de condiciones.</p>
                <h2 class="MainNosotros__Sobre-Nosotros__article__Titulo-Secundario">Vision</h2>
                <p class="MainNosotros__Sobre-Nosotros__article__Parrafo">Proponemos  mejorar la calidad de vida y el acceso a la salud mental integral de las personas en un entorno de salud mental comunitaria</p>
            </article>
        </section>

        <section class="MainNosotros__Principios-Objetivos">
            
            <article class="MainNosotros__Principios-Objetivos__article">
                <h2 class="MainNosotros__Principios-Objetivos__article__Titulo">Principios</h2>
                <ul class="MainNosotros__Principios-Objetivos__article__ul">
                    <li class="MainNosotros__Principios-Objetivos__article__ul__li"><span class="MainNosotros__Principios-Objetivos__article__ul__li__Item-Principio">UNIVERSALIDAD</span>: Sostenemos  una actitud abierta a todas las personas y entidades que conforman el entorno de la salud mental.</li>
                    <li class="MainNosotros__Principios-Objetivos__article__ul__li"><span class="MainNosotros__Principios-Objetivos__article__ul__li__Item-Principio">PARTICIPACIÓN</span>: Promovemos la colaboración de todos sus grupos de interés para el cumplimiento de su misión y visión, promoviendo acciones y actitudes que garanticen la participación</li>
                    <li class="MainNosotros__Principios-Objetivos__article__ul__li"><span class="MainNosotros__Principios-Objetivos__article__ul__li__Item-Principio">TRANSPARENCIA</span>: Aseguramos una completa información clara y veraz en todas sus actuaciones internas y externas</li>
                    <li class="MainNosotros__Principios-Objetivos__article__ul__li"><span class="MainNosotros__Principios-Objetivos__article__ul__li__Item-Principio">SOLIDARIDAD</span>: Fomentamos la solidaridad promoviendo y promocionando el voluntariado social junto con la capacidad para compartir experiencias</li>
                    <li class="MainNosotros__Principios-Objetivos__article__ul__li"><span class="MainNosotros__Principios-Objetivos__article__ul__li__Item-Principio">AUTODETERMINACIÓN</span>: promovemos la capacidad de las personas para decidir sobre su vida, promoviendo la máxima autonomía y capacidad propia individual.</li>
                </ul>
                <h2 class="MainNosotros__Principios-Objetivos__article__Titulo">Objetivos</h2>
                <ul class="MainNosotros__Principios-Objetivos__article__ul">
                    <li class="MainNosotros__Principios-Objetivos__article__ul__li">Promover el trabajo para el empoderamiento de las personas con padecimiento mental, apoyándonos en la Convención de la ONU, el reconocimiento de sus derechos y el abordaje comunitario.</li>
                    <li class="MainNosotros__Principios-Objetivos__article__ul__li">Brindar a la sociedad una visión positiva y no estigmatizadora de las personas con enfermedad mental a través de actividades de comunicación y sensibilización social</li>
                </ul>

            </article>

        </section>


    </main>

    <footer class="Footer">
        <ul class="Footer__ul">
            <li class="Footer__ul__li"><a href="https://www.instagram.com/" class="Footer__ul__li__a"><picture class="Footer__ul__li__a__picture"><img class="Footer__ul__li__a__picture__img" src="..\Image\InstagramIcon.png" alt="Instagram"></picture></a></li></li>
            <li class="Footer__ul__li"><a href="https://twitter.com/" class="Footer__ul__li__a"><picture class="Footer__ul__li__a__picture"><img class="Footer__ul__li__a__picture__img" src="..\Image\TwitterIcon.png" alt="Twitter"></picture></a></li>
            <li class="Footer__ul__li"><a href="https://mail.google.com/" class="Footer__ul__li__a"><picture class="Footer__ul__li__a__picture"><img class="Footer__ul__li__a__picture__img" src="..\Image\WhatsappIcon.png" alt="Whatsapp"></picture></a></li></li>
            <li class="Footer__ul__li"><a href="https://es-la.facebook.com/" class="Footer__ul__li__a"><picture class="Footer__ul__li__a__picture"><img class="Footer__ul__li__a__picture__img" src="..\Image\FacebookIcon.png" alt="Facebook"></picture></a></li></li>
        </ul>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>