/*  FOOTER  */

.Footer {
    @include Flex(row,flex-end,center,0rem);
    background-color: #243A50;

    &__ul {
        @include Flex(row,flex-end,flex-start,0.7rem);
        padding: 0;
        margin: 0.7rem;

        &__li {
            transition: transform 0.5s;

            &:hover {
                transform: scale(1.1);
            }

            &__a{
                &__picture{
                    &__img {
                        width: 3rem;
                    }
                }
            }


            
        }
    }


}





