/* INDEX: QuienesSomos */

.quienesSomos {
    width: 80%;
    margin: 5rem auto;
    max-width: 963px;

    &__article {
        @include Flex(row,center,flex-start,2rem);
        margin: 1rem;
        justify-content: center;

        &__div {
            width: 40rem;
            padding: 4rem;

            &__Titulo {
                text-align: center;
                font-size: map-get($Font-size , Titulo-Xl);
                text-decoration:underline;
                margin: 2rem;
            }

            &__Parrafo {
                font-size: map-get($Font-size , Parrafo-Xl);
            }
            
        }

        &__picture{
            margin: auto 1rem;
            &__imagen {
                width: 40rem;
            }
        }
    }
}


@media screen and (max-width:1210px) {
    .quienesSomos{
        &__article{
            &__div {
                width: 30rem;
                padding: 2rem;
            }
            &__picture{
                &__imagenimg {
                    width: 30rem;
                }
            }
        }
    }
}


@media screen and (max-width:1026px) {
    

    .quienesSomos {
        width: 100%;
        &__article{
            &__div {
                width: 25rem;
                padding: 1.5rem;

                &__Titulo {
                    text-align: center;
                    font-size: map-get($Font-size , Titulo-Lg);
                    text-decoration:underline;
                    margin: 1.5rem;
                }

                &__Parrafo {
                    font-size: map-get($Font-size , Parrafo-Lg);
                }
            }
            &__picture{
                &__imagen {
                    width: 25rem;
                }
            }
            
        }
    }
    
    
}


@media screen and (max-width:600px) {
    .quienesSomos {
        width: 100%;
        &__article{
            &__div {
                width: 20rem;
                padding: 1rem;
                
                &__Titulo {
                    text-align: center;
                    font-size: map-get($Font-size , Titulo-Md);
                    text-decoration:underline;
                    margin: 1rem;
                }

                &__Parrafo {
                    font-size: map-get($Font-size , Parrafo-Md);
                }
            }
            &__picture{
                &__imagen {
                    width: 20rem;
                }
            }
        }
    }
}

@media screen and (max-width: 483px) {
    .quienesSomos{
        &__article{
            gap: 0;
            &__div {
                padding: 0.5rem;
                &__Titulo {
                    font-size: map-get($Font-size , Titulo-Sm);
                    margin: 0.5rem;
                }
            }
            &__picture{
                &__imagen {
                    width: 13rem;
                }
            }

        }
    }
}


/*  INDEX: EjesDeTrabajo    */

.GridEjesTrabajo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 8fr 8fr 8fr;
}


.ejesTrabajo {
    width: 80rem;
    margin: 10rem auto;
    max-width: 876px;

    &__Titulo {
        text-align: center;
        margin: auto 4rem;
        font-size: map-get($Font-size , Titulo-Xl);
        text-decoration:underline;
        grid-column: 1/3;
    }
    &__Div {
        width: 100%;
        padding: 3rem;
        &__Titulo {
            text-align: center;
            font-size: map-get($Font-size , SubTitulo-Xl);
            text-decoration:underline;
            margin: 1rem;
        }
        &__Descripcion {
            font-size: map-get($Font-size , Parrafo-Xl);
        }
    }
    &__picture{
        display: flex;
        justify-content: center;
        align-items: center;
        &__Imagen {
            width: 30rem;
            margin: 1rem;
        }
    }
}




@media screen and (max-width:900px) {
    .ejesTrabajo {
        width: 100%;
        margin: 10rem auto;
        &__Div {
            padding: 3rem;
        }
        &__picture{
            &__Imagen {
                width: 20rem;
                margin: 1rem;
            }   
        }
    }
    
}


@media screen and (max-width:650px) {
    .ejesTrabajo {
        margin: 5rem auto;
        &__Div {
            padding-right: 5rem;
            &__Descripcion {
                font-size: map-get($Font-size , Parrafo-Lg);
            }
            &__Titulo {
                text-align: center;
                text-decoration:underline;
                margin: 1rem;
            }
        }
        &__Titulo {
            text-align: center;
            margin: auto 2rem;
            text-decoration:underline;
        }
        &__picture{
            &__Imagen {
                width: 15rem;
                margin: 1rem;
            }   
        }
    }


    
    
    
}

@media screen and (max-width: 465px) {
    .GridEjesTrabajo {
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .ejesTrabajo {
        width: 90%;
        margin: 5rem auto;
        &__Titulo{
            order: -3;
            margin: 1rem;
        }
        &__Div {
            padding: 1rem;
        }
        &__picture{
            &__Imagen {
                width: 10rem;
                margin-top: 2rem;
            }   
        }
    }

    #ImagenCapacitacion{
        order: -2;
    }
    #TextoCapacitacion{
        order: -1;
    }
}



/* INDEX: CursosDestacados */

.cursosDestacados{
    @include Flex(column,center,center,1rem);
    margin: 5rem auto;
    max-width: 1105px;
    &__Titulo {
        text-align: center;
        text-decoration:underline;
        font-size: map-get($Font-size , Titulo-Xl);
        margin: 2rem;
    }
    &__Contenedor-Cursos{
        width: 100%;
        @include Flex(row,space-around,flex-start,0rem);
        &__Curso{
            margin: 1rem;
            @include Flex(column,center,center,2rem);
            &__Picture{
                justify-content: center;
                align-items: center;
                &__Imagen {
                    width: 25rem;
                }
            }
            &__Nombre {
                font-size: map-get($Font-size , SubTitulo-Xl);
                text-align: center;
            }
        }
    }
}





@media screen and (max-width: 1124px) {
    .cursosDestacados{
        &__Contenedor-Cursos{
            &__Curso{
                margin: 1rem;
                &__Picture{
                    &__Imagen {
                        width: 20rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 730px) {
    .cursosDestacados{
        margin: 1rem;
        margin-bottom: 4rem;
        &__Titulo {
            text-align: center;
            text-decoration:underline;
            margin: 2rem;
        }
        &__Contenedor-Cursos{
            width: 100%;
            &__Curso{
                &__Picture{
                    &__Imagen {
                        width: 10rem;
                    }
                }
                &__Nombre {
                    font-size: map-get($Font-size , SubTitulo-Md);
                    text-align: center;
                }
            }
        }
    }
}


@media screen and(max-width: 375px) {
    .cursosDestacados{
        &__Contenedor-Cursos{
            &__Curso{
                &__Picture{
                    &__Imagen {
                        width: 8rem;
                    }
                }
                
            }
        }
    }
}
