/* QUIENES-SOMOS: Nosotros*/

.MainNosotros{
    &__Sobre-Nosotros{

        &__article {
            @include Flex(column,flex-start,flex-start,1.5rem);
            width: 80%;
            max-width: 1000px;
            padding: 3rem ;
            margin: 2rem auto;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(108, 112, 114, 0.14) 100%);
            box-shadow: 0.2rem 0.5rem 1rem 0.3rem rgba(0, 0, 0, 0.3);
            border-radius: 1.5rem 1.5rem 5rem 5rem;

            &__Titulo-Principal {
                font-size: map-get($Font-size , Titulo-Xl);
                text-align: center;
                margin-bottom: 2rem;
                align-self: center;
            }

            &__Parrafo {
                margin: 0px 0px 2rem 1.5rem;
                font-size: map-get($Font-size , Parrafo-Xl);
            }

            &__Titulo-Secundario {
                font-size: map-get($Font-size , SubTitulo-Xl);
            }
        }
    }
}

/*  QUIENES-SOMOS: Principios   */

.MainNosotros{
    &__Principios-Objetivos {
        width: 70%;
        max-width: 840px;
        padding: 3rem;
        margin: 4rem auto;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(108, 112, 114, 0.07) 100%);
        box-shadow: 0.2rem 0.5rem 1rem 0.3rem rgba(0, 0, 0, 0.3);
        border-radius: 1.5rem 5rem 5rem 1.5rem;
        font-size: 2em;

        &__article{
            @include Flex(column,flex-start,flex-start,0rem);
            &__Titulo{
                font-size: map-get($Font-size , SubTitulo-Md);
                margin-left: 1.5rem;
                margin-top: 1rem;
            }

            &__ul{
                margin: 2rem;

                &__li {
                    margin: 1rem;
                    font-size: map-get($Font-size , Parrafo-Md);
                }
            }
        }
    }
}



@media screen and (max-width: 1000px) {
    .MainNosotros{
        &__Sobre-Nosotros{

            &__article{

                &__Titulo-Principal {
                    font-size: map-get($Font-size , Titulo-Lg);
                }

                &__Titulo-Secundario {
                    font-size: map-get($Font-size , SubTitulo-Lg);
                }

                &__Parrafo {
                    font-size: map-get($Font-size , Parrafo-Xl);
                }
            }
        }
    }
    

    
    
}


@media screen and (max-width: 900px) {
    .MainNosotros{
        &__Sobre-Nosotros{

            &__article {
                width: 90%;
                padding: 1rem;

                &__Titulo-Principal {
                    margin-bottom: 2rem;
                }

                &__Parrafo {
                    font-size: map-get($Font-size , Parrafo-Md);
                }

                &__Titulo-Secundario {
                    font-size: map-get($Font-size , SubTitulo-Lg);
                }
            }
        }

        &__Principios-Objetivos {
            width: 85%;
            padding: 1rem;
        }
    }
}

@media screen and (max-width:570px) {
    .MainNosotros{

        &__Principios-Objetivos{

            &__article{

                &__ul{

                    &__li {

                        font-size: map-get($Font-size , Parrafo-Sm);
                    }
                }

                &__Titulo{
                    font-size: map-get($Font-size , SubTitulo-Sm);
                }
            }
        }
    }

}


@media screen and (max-width: 400px) {
    .MainNosotros{

        &__Principios-Objetivos{

            &__article{

                &__ul{
                    margin: 0.1rem;
                }
            }
        }
        &__Sobre-Nosotros{
            
            &__article{
                gap: 0.3rem;
            }
        }
    }

}